.test-chart-body {
    background-color: #2c313b;
    font-family: 'Roboto', sans-serif !important;
    padding-top:10px;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5;
}

.axis{
    fill:#bbc7d9;
    opacity: 1;
}

.axis path,
.axis line {
    fill: none;
    stroke: none;
    shape-rendering: crispEdges;

}

.axis text {
    font-size: 16px;
}

.y-grid .tick{
    stroke: #4b5f87;
}

.button {
    paddind: 20px;
    margin: 20px;
}
